<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quote of the Day</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  
  <div class="container">

    <form action="/submit_new_quote" method="post">

        <textarea name="quoteText" rows="5" placeholder="Enter quote"></textarea>
        <input type="text" name="quoteAuthor" autofocus placeholder="Enter author">
        <button type="submit">Submit</button>

    </form>


  </div>

</body>

</html>